In [28]:
import pandas as pd

In [30]:
df = pd.read_csv("./data/pokedex.csv")

In [31]:
df.head(10)

,Unnamed: 0,pokedex_number,name,german_name,japanese_name,generation,status,species,type_number,type_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.00,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.00,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.00,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.00,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,Normal,Lizard Pokémon,1,Fire,...,2.0,1.0,1.0,0.50,2.0,1.0,1.0,1.0,0.5,0.5
5,5,5,Charmeleon,Glutexo,リザード (Lizardo),1,Normal,Flame Pokémon,1,Fire,...,2.0,1.0,1.0,0.50,2.0,1.0,1.0,1.0,0.5,0.5
6,6,6,Charizard,Glurak,リザードン (Lizardon),1,Normal,Flame Pokémon,2,Fire,...,0.0,1.0,1.0,0.25,4.0,1.0,1.0,1.0,0.5,0.5
7,7,6,Mega Charizard X,Glurak,リザードン (Lizardon),1,Normal,Flame Pokémon,2,Fire,...,2.0,1.0,1.0,0.50,2.0,1.0,2.0,1.0,0.5,1.0
8,8,6,Mega Charizard Y,Glurak,リザードン (Lizardon),1,Normal,Flame Pokémon,2,Fire,...,0.0,1.0,1.0,0.25,4.0,1.0,1.0,1.0,0.5,0.5
9,9,7,Squirtle,Schiggy,ゼニガメ (Zenigame),1,Normal,Tiny Turtle Pokémon,1,Water,...,1.0,1.0,1.0,1.00,1.0,1.0,1.0,1.0,0.5,1.0

In [36]:
df.tail()

,pokedex_number,name,german_name,japanese_name,generation,status,species,type_number,type_1,type_2,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
1040,896,Glastrier,Polaross,ブリザポス (Burizaposu),8,Sub Legendary,Wild Horse Pokémon,1,Ice,NaN,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0
1041,897,Spectrier,Phantoross,レイスポス (Reisuposu),8,Sub Legendary,Swift Horse Pokémon,1,Ghost,NaN,...,1.0,1.0,1.0,0.5,1.0,2.0,1.0,2.0,1.0,1.0
1042,898,Calyrex,Coronospa,バドレックス (Budrex),8,Legendary,King Pokémon,2,Psychic,Grass,...,0.5,2.0,0.5,4.0,1.0,2.0,1.0,2.0,1.0,1.0
1043,898,Calyrex Ice Rider,Coronospa,バドレックス (Budrex),8,Legendary,High King Pokémon,2,Psychic,Ice,...,1.0,1.0,0.5,2.0,2.0,2.0,1.0,2.0,2.0,1.0
1044,898,Calyrex Shadow Rider,Coronospa,バドレックス (Budrex),8,Legendary,High King Pokémon,2,Psychic,Ghost,...,1.0,1.0,0.5,1.0,1.0,4.0,1.0,4.0,1.0,1.0

In [37]:
df.shape

(1045, 50)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 50 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pokedex_number    1045 non-null   int64
 1   name              1045 non-null   object
 2   german_name       1045 non-null   object
 3   japanese_name     1045 non-null   object
 4   generation        1045 non-null   int64
 5   status            1045 non-null   object
 6   species           1045 non-null   object
 7   type_number       1045 non-null   int64
 8   type_1            1045 non-null   object
 9   type_2            553 non-null    object
 10  height_m          1045 non-null   float64
 11  weight_kg         1044 non-null   float64
 12  abilities_number  1045 non-null   int64
 13  ability_1         1042 non-null   object
 14  ability_2         516 non-null    object
 15  ability_hidden    813 non-null    object
 16  total_points      1045 non-null   int64
 17  hp                1045 non-null   int64
 18  attack            1045 non-null   int64
 19  defense           1045 non-null   int64
 20  sp_attack         1045 non-null   int64
 21  sp_defense        1045 non-null   int64
 22  speed             1045 non-null   int64
 23  catch_rate        1027 non-null   float64
 24  base_friendship   930 non-null    float64
 25  base_experience   925 non-null    float64
 26  growth_rate       1044 non-null   object
 27  egg_type_number   1045 non-null   int64
 28  egg_type_1        1042 non-null   object
 29  egg_type_2        285 non-null    object
 30  percentage_male   872 non-null    float64
 31  egg_cycles        1044 non-null   float64
 32  against_normal    1045 non-null   float64
 33  against_fire      1045 non-null   float64
 34  against_water     1045 non-null   float64
 35  against_electric  1045 non-null   float64
 36  against_grass     1045 non-null   float64
 37  against_ice       1045 non-null   float64
 38  against_fight     1045 non-null   float64
 39  against_poison    1045 non-null   float64
 40  against_ground    1045 non-null   float64
 41  against_flying    1045 non-null   float64
 42  against_psychic   1045 non-null   float64
 43  against_bug       1045 non-null   float64
 44  against_rock      1045 non-null   float64
 45  against_ghost     1045 non-null   float64
 46  against_dragon    1045 non-null   float64
 47  against_dark      1045 non-null   float64
 48  against_steel     1045 non-null   float64
 49  against_fairy     1045 non-null   float64
dtypes: float64(25), int64(12), object(13)
memory usage: 408.3+ KB

In [39]:
df = df.astype({'status': 'category', 
                'species': 'category', 
                'type_1': 'category', 
                'type_2':  'category'})

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 50 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   pokedex_number    1045 non-null   int64
 1   name              1045 non-null   object
 2   german_name       1045 non-null   object
 3   japanese_name     1045 non-null   object
 4   generation        1045 non-null   int64
 5   status            1045 non-null   category
 6   species           1045 non-null   category
 7   type_number       1045 non-null   int64
 8   type_1            1045 non-null   category
 9   type_2            553 non-null    category
 10  height_m          1045 non-null   float64
 11  weight_kg         1044 non-null   float64
 12  abilities_number  1045 non-null   int64
 13  ability_1         1042 non-null   object
 14  ability_2         516 non-null    object
 15  ability_hidden    813 non-null    object
 16  total_points      1045 non-null   int64
 17  hp                1045 non-null   int64
 18  attack            1045 non-null   int64
 19  defense           1045 non-null   int64
 20  sp_attack         1045 non-null   int64
 21  sp_defense        1045 non-null   int64
 22  speed             1045 non-null   int64
 23  catch_rate        1027 non-null   float64
 24  base_friendship   930 non-null    float64
 25  base_experience   925 non-null    float64
 26  growth_rate       1044 non-null   object
 27  egg_type_number   1045 non-null   int64
 28  egg_type_1        1042 non-null   object
 29  egg_type_2        285 non-null    object
 30  percentage_male   872 non-null    float64
 31  egg_cycles        1044 non-null   float64
 32  against_normal    1045 non-null   float64
 33  against_fire      1045 non-null   float64
 34  against_water     1045 non-null   float64
 35  against_electric  1045 non-null   float64
 36  against_grass     1045 non-null   float64
 37  against_ice       1045 non-null   float64
 38  against_fight     1045 non-null   float64
 39  against_poison    1045 non-null   float64
 40  against_ground    1045 non-null   float64
 41  against_flying    1045 non-null   float64
 42  against_psychic   1045 non-null   float64
 43  against_bug       1045 non-null   float64
 44  against_rock      1045 non-null   float64
 45  against_ghost     1045 non-null   float64
 46  against_dragon    1045 non-null   float64
 47  against_dark      1045 non-null   float64
 48  against_steel     1045 non-null   float64
 49  against_fairy     1045 non-null   float64
dtypes: category(4), float64(25), int64(12), object(9)
memory usage: 403.6+ KB

In [46]:
df['type_1'].dtype.categories

Index(['Bug', 'Dark', 'Dragon', 'Electric', 'Fairy', 'Fighting', 'Fire',
       'Flying', 'Ghost', 'Grass', 'Ground', 'Ice', 'Normal', 'Poison',
       'Psychic', 'Rock', 'Steel', 'Water'],
      dtype='object')

In [47]:
df.describe()

,pokedex_number,generation,type_number,height_m,weight_kg,abilities_number,total_points,hp,attack,defense,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
count,1045.000000,1045.000000,1045.000000,1045.000000,1044.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,...,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000
mean,440.769378,4.098565,1.529187,1.374067,71.216571,2.268900,439.353110,70.067943,80.476555,74.670813,...,1.082297,1.168900,0.977273,0.998086,1.238278,1.018660,0.977033,1.071053,0.981579,1.091148
std,262.517231,2.272788,0.499386,3.353349,132.259911,0.803154,121.992897,26.671411,32.432728,31.259462,...,0.782683,0.592145,0.501934,0.610411,0.696560,0.568056,0.375812,0.465178,0.501753,0.536285
min,1.000000,1.000000,1.000000,0.100000,0.100000,0.000000,175.000000,1.000000,5.000000,5.000000,...,0.000000,0.250000,0.000000,0.000000,0.250000,0.000000,0.000000,0.250000,0.000000,0.000000
25%,212.000000,2.000000,1.000000,0.600000,9.000000,2.000000,330.000000,50.000000,55.000000,50.000000,...,0.500000,1.000000,1.000000,0.500000,1.000000,1.000000,1.000000,1.000000,0.500000,1.000000
50%,436.000000,4.000000,2.000000,1.000000,29.500000,2.000000,458.000000,68.000000,77.000000,70.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,670.000000,6.000000,2.000000,1.600000,70.500000,3.000000,515.000000,82.000000,100.000000,90.000000,...,1.500000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,898.000000,8.000000,2.000000,100.000000,999.900000,3.000000,1125.000000,255.000000,190.000000,250.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,2.000000,4.000000,4.000000,4.000000

In [48]:
pd.set_option('display.max_columns', df.shape[1])

In [49]:
df.describe()

,pokedex_number,generation,type_number,height_m,weight_kg,abilities_number,total_points,hp,attack,defense,sp_attack,sp_defense,speed,catch_rate,base_friendship,base_experience,egg_type_number,percentage_male,egg_cycles,against_normal,against_fire,against_water,against_electric,against_grass,against_ice,against_fight,against_poison,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
count,1045.000000,1045.000000,1045.000000,1045.000000,1044.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1027.000000,930.000000,925.000000,1045.000000,872.000000,1044.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000,1045.000000
mean,440.769378,4.098565,1.529187,1.374067,71.216571,2.268900,439.353110,70.067943,80.476555,74.670813,73.031579,72.298565,68.807656,92.739046,64.064516,153.716757,1.269856,54.873853,31.489464,0.868660,1.126316,1.050718,1.035646,1.001196,1.675598,1.075120,0.953110,1.082297,1.168900,0.977273,0.998086,1.238278,1.018660,0.977033,1.071053,0.981579,1.091148
std,262.517231,2.272788,0.499386,3.353349,132.259911,0.803154,121.992897,26.671411,32.432728,31.259462,32.745857,28.098943,30.210094,75.878404,21.452532,79.283970,0.450522,20.398192,30.511128,0.286863,0.714569,0.609383,0.643535,0.744350,7.685308,0.753649,0.541238,0.782683,0.592145,0.501934,0.610411,0.696560,0.568056,0.375812,0.465178,0.501753,0.536285
min,1.000000,1.000000,1.000000,0.100000,0.100000,0.000000,175.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,3.000000,0.000000,36.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.250000,0.000000,0.000000,0.250000,0.000000,0.000000
25%,212.000000,2.000000,1.000000,0.600000,9.000000,2.000000,330.000000,50.000000,55.000000,50.000000,50.000000,50.000000,45.000000,45.000000,70.000000,67.000000,1.000000,50.000000,20.000000,1.000000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,1.000000,1.000000,0.500000,1.000000,1.000000,1.000000,1.000000,0.500000,1.000000
50%,436.000000,4.000000,2.000000,1.000000,29.500000,2.000000,458.000000,68.000000,77.000000,70.000000,65.000000,70.000000,65.000000,60.000000,70.000000,159.000000,1.000000,50.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,670.000000,6.000000,2.000000,1.600000,70.500000,3.000000,515.000000,82.000000,100.000000,90.000000,95.000000,90.000000,90.000000,127.000000,70.000000,201.000000,2.000000,50.000000,25.000000,1.000000,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.500000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,898.000000,8.000000,2.000000,100.000000,999.900000,3.000000,1125.000000,255.000000,190.000000,250.000000,194.000000,250.000000,200.000000,255.000000,140.000000,608.000000,2.000000,100.000000,120.000000,1.000000,4.000000,4.000000,4.000000,4.000000,125.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,2.000000,4.000000,4.000000,4.000000

In [50]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
pokedex_number,1045.0,440.769378,262.517231,1.00,212.0,436.0,670.0,898.0
generation,1045.0,4.098565,2.272788,1.00,2.0,4.0,6.0,8.0
type_number,1045.0,1.529187,0.499386,1.00,1.0,2.0,2.0,2.0
height_m,1045.0,1.374067,3.353349,0.10,0.6,1.0,1.6,100.0
weight_kg,1044.0,71.216571,132.259911,0.10,9.0,29.5,70.5,999.9
abilities_number,1045.0,2.268900,0.803154,0.00,2.0,2.0,3.0,3.0
total_points,1045.0,439.353110,121.992897,175.00,330.0,458.0,515.0,1125.0
hp,1045.0,70.067943,26.671411,1.00,50.0,68.0,82.0,255.0
attack,1045.0,80.476555,32.432728,5.00,55.0,77.0,100.0,190.0
defense,1045.0,74.670813,31.259462,5.00,50.0,70.0,90.0,250.0
sp_attack,1045.0,73.031579,32.745857,10.00,50.0,65.0,95.0,194.0
sp_defense,1045.0,72.298565,28.098943,20.00,50.0,70.0,90.0,250.0
speed,1045.0,68.807656,30.210094,5.00,45.0,65.0,90.0,200.0
catch_rate,1027.0,92.739046,75.878404,3.00,45.0,60.0,127.0,255.0
base_friendship,930.0,64.064516,21.452532,0.00,70.0,70.0,70.0,140.0
base_experience,925.0,153.716757,79.283970,36.00,67.0,159.0,201.0,608.0
egg_type_number,1045.0,1.269856,0.450522,0.00,1.0,1.0,2.0,2.0
percentage_male,872.0,54.873853,20.398192,0.00,50.0,50.0,50.0,100.0
egg_cycles,1044.0,31.489464,30.511128,5.00,20.0,20.0,25.0,120.0
against_normal,1045.0,0.868660,0.286863,0.00,1.0,1.0,1.0,1.0
against_fire,1045.0,1.126316,0.714569,0.00,0.5,1.0,2.0,4.0
against_water,1045.0,1.050718,0.609383,0.00,0.5,1.0,1.0,4.0
against_electric,1045.0,1.035646,0.643535,0.00,0.5,1.0,1.0,4.0
against_grass,1045.0,1.001196,0.744350,0.00,0.5,1.0,1.0,4.0
against_ice,1045.0,1.675598,7.685308,0.00,0.5,1.0,2.0,125.0
against_fight,1045.0,1.075120,0.753649,0.00,0.5,1.0,2.0,4.0
against_poison,1045.0,0.953110,0.541238,0.00,0.5,1.0,1.0,4.0
against_ground,1045.0,1.082297,0.782683,0.00,0.5,1.0,1.5,4.0
against_flying,1045.0,1.168900,0.592145,0.25,1.0,1.0,1.0,4.0
against_psychic,1045.0,0.977273,0.501934,0.00,1.0,1.0,1.0,4.0
against_bug,1045.0,0.998086,0.610411,0.00,0.5,1.0,1.0,4.0
against_rock,1045.0,1.238278,0.696560,0.25,1.0,1.0,2.0,4.0
against_ghost,1045.0,1.018660,0.568056,0.00,1.0,1.0,1.0,4.0
against_dragon,1045.0,0.977033,0.375812,0.00,1.0,1.0,1.0,2.0
against_dark,1045.0,1.071053,0.465178,0.25,1.0,1.0,1.0,4.0
against_steel,1045.0,0.981579,0.501753,0.00,0.5,1.0,1.0,4.0
against_fairy,1045.0,1.091148,0.536285,0.00,1.0,1.0,1.0,4.0

In [51]:
df.describe().T.index

Index(['pokedex_number', 'generation', 'type_number', 'height_m', 'weight_kg',
       'abilities_number', 'total_points', 'hp', 'attack', 'defense',
       'sp_attack', 'sp_defense', 'speed', 'catch_rate', 'base_friendship',
       'base_experience', 'egg_type_number', 'percentage_male', 'egg_cycles',
       'against_normal', 'against_fire', 'against_water', 'against_electric',
       'against_grass', 'against_ice', 'against_fight', 'against_poison',
       'against_ground', 'against_flying', 'against_psychic', 'against_bug',
       'against_rock', 'against_ghost', 'against_dragon', 'against_dark',
       'against_steel', 'against_fairy'],
      dtype='object')

In [55]:
type(df['german_name'])

pandas.core.series.Series

In [54]:
type(df[['pokedex_number', 'japanese_name', 'attack']])

pandas.core.frame.DataFrame